/* navigation */
.navv{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}
.container-fluid{
    padding-left: 2rem!important;
    padding-right: 2rem!important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.para{
    font-size: 1.5rem;
    color: grey;
}
h1{
    line-height: 0.7!important;
}
.btnn{
    background-color:#0d6efd;
    border: 2px;
    border-radius: 5px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 35px;
    color: white;
    font-weight: bold;
}
    
.btnn:hover {
    background-color: #0b5ed7; 
}
 /* cards */
 .cards{
    display: flex;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 180px;
}
.card{
    width: 350px;
    height: 490px!important;
}
#area-card{
    height: 400px !important;
    margin-left: 25px;
}
#area-box{
    text-align: left;
}
.card-img-top{
    height: 194px;
    width: 243px!important;
    margin-left: 50px;
    margin-top: 40px;
}
.card-body{
    text-align: center;
}
.btn{
    width: 270px;
    height: 45px;
    margin-top: 40px;
}
input{
    width:80px;
    background-color: rgb(228, 224, 224);
    border: 2px;
    
}
.input-container{
    display: flex; 
    align-items: center; 
    margin-left: 50px;
    
}
.input-container p{
    margin: 5px;
}


